.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 848px;
}

.card {
  display: flex;
  width: 272px;
  height: 333px;
  flex-direction: column;
  background-color: white;
  border: dashed 3px gainsboro;
  margin: 7px 8px;
  justify-content: center;
  align-items: center;
  text-decoration : none;

  &__image {
    display: flex;
    margin-bottom: 15px;
  }

  &__title {
    display: flex;
    color: gray;
    font-size: 16px;
    text-decoration: none;
  }

  &__link {
  text-decoration: none;
}
}
