.topNavigation {
  display: flex;
}

.card {
  display: flex;
  margin: 10px 7px;
  background-color: #D9D9D9;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: #FFE8D6;
    color: #ff7f23;
    cursor: pointer;
  }
}