.template {
  width: 100vw;
  display: flex;

  &__map {

  }

  &__tab {
    width: 400px;
  }

  &__recommend {

  }
}

.tab {
  background-color: #FFF;

  &__info {
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    height: 10%;
  }

  &__change {
    color: #8E8E8E;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    display: flex;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    border: none;
  }

  &__list {
    background-color: #F5F5F5;
    height: 80%;
    padding: 6px 0;
    display: flex;
    justify-content: center;
  }

  &__footer {
    background-color: #FFF;
    display: flex;
    height: 10%;
  }
}

.info {
  &__title {
    color: #000;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
  }

  &__date {
    color: #8E8E8E;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  &__place {
    background-color: #D9D9D9;
    width: 100px;
    height: 40px;
    border:  none;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
  
    &:hover{
      background-color: #F5F5F5;
      border: 1.5px solid #ff7f23;
      color: #ff7f23;
    }
  
    &:hover a {
      background-color: #F5F5F5;
      color: #ff7f23;
    }
  }

  &__link {
    color: #8E8E8E;
    text-decoration: none;
  }

  &__back {
    background-color: #D9D9D9;
    width: 80px;
    height: 40px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
  
    &:hover{
      background-color: #F5F5F5;
      border: 1.5px solid #ff7f23;
      color: #ff7f23;
    }
  
    &:hover a {
      background-color: #F5F5F5;
      color: #ff7f23;
    }
  }
}

.recommend {
  width: calc(100vw - 480px);
  height: 332px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 16px;
  z-index: 100;
  bottom: 16px;
  background-color: #FFF;
  display: flex;

  &__header {
    margin: 15px 20px;
    width: calc(100% - 40px);
    height: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #000;
    font-family: Pretendard;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__hide {
    border-radius: 999px;
    background: #F5F5F5;
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    color: #4B4B4B;
    text-align: right;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  &__content {
    width: calc(100% - 40px);
    display: flex;
    overflow-x: scroll;
    margin: 20px;
  }
}