.modalDim {
  z-index: 1000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(75, 75, 75, 0.8);
  mix-blend-mode: normal;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  background-color: #ffffff;
}