.body {
  background: #FAFAFA;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.travel {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}