.container {
  width: 1135px;
  margin-top: 50px;
}

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1000px;
  gap: 16px;
  margin-bottom: 35px;
}


.card {
  background-color: gainsboro;
  border-radius: 10px;
  flex-direction: column;

  &:hover {
    border: solid 1.5px #ff7f23;
    cursor: pointer;
    box-shadow: 1px 1px 6px grey;
  }

  &__image {
    display: flex;
    width: 272px;
    height: 272px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__title {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 26px;
  }

  &__container {
    display: flex;
  }

  &__marker {
    display: flex;
    margin-top: 11px;
    margin-left: 20px;
  }

  &__subTitle {
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 16px;
    color: gray;
  }
}