.card {
  width: 296px;
  height: 220px;
  min-width: 296px;
  max-height: 220px;
  margin: 10px;

  &__image {
    width: 296px;
    height: 179px;
    background-color: #eee;
    border-radius: 4px;
    object-fit: cover;
  }

  &__blur {
    width: 296px !important;
    height: 179px !important;
    background-color: #D9D9D9 ;
    border-radius: 4px;
    margin-bottom: 4px;
  }

  &__title {
    white-space: nowrap;
    float: left;
    color: #1F1F1F;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}