.template {
  display: flex;
  flex-direction: column;
}

.plan {
  display: flex;
  justify-content: space-between;
  width: 392px;

  &__calender {
    display: flex;
    width: 144px;
    padding: 10px 16px;
    align-items: center;
    gap: 4px;
    background-color: #EEEEEE;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__input {
    border: none;
    background-color: #EEEEEE;
    border-radius: 4px;
    font-size: 16px;
    width: 108px;
  }
}

.calender {
  width: 752px;
  height: 348px;
  margin-top: 12px;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  background: #FFF;
  box-shadow: 2px 3px 12px 1px rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: space-between;
  color: #000;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  &__start {
    background: #FFF;
    border: none;
  }

  &__popper {
    background: red;
  }

  &__wrapper {
    background: red;
  }
}

.header {
  background: #FFF;
}

.react-datepicker__day-names{
  background: #FFF !important;
  border: none;
}

.react-datepicker__header{
  background: #FFF !important;
  border: none;
}

.react-datepicker__current-month {
  background-color: #FFF;
  color: #333;
}