.container {
  display: flex;

  &__navigation {
    display: flex;
    border-bottom: 1px gray;
  }

  &__button {
    display: flex;
    border: none;
    margin: 5px 15px;
    font-size: 20px;
  }
}
